@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
// Primary

$clr-purple-50: hsl(260, 100%, 95%);
$clr-purple-300: hsl(264, 82%, 80%);
$clr-purple-500: hsl(263, 55%, 52%);

// Neutral

$clr-white: hsl(0, 0%, 100%);
$clr-grey-100: hsl(214, 17%, 92%);
$clr-grey-200: hsl(0, 0%, 81%);
$clr-grey-400: hsl(224, 10%, 45%);
$clr-grey-500: hsl(217, 19%, 35%);
$clr-drk-blue: hsl(219, 29%, 14%);
$clr-black: hsl(0, 0%, 7%);

// Spacing 

$space-4: 0.25rem;
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;

// Typography 

$font-family: "Barlow Semi Condensed", serif;
$font-size: 0.813rem;
$font-weight: 500;

// Preset fonts
$font-1: 600 1.25rem/1.2 $font-family;
$font-2: $font-weight $font-size/1.1 $font-family;
$font-3: $font-weight $font-size/1.4 $font-family;
$font-4: $font-weight 0.688rem/1.1 $font-family;

// Utilities

$border-rad-card: 8px;
$border-rad-user-image: 50%;
$box-shad: 2px 2px 10px rgba(100, 99, 99, 0.216)

